{% extends "base.jinja2" %}

{% block content %}
<h3>우선공급</h3>
<li>행정구역의 통합 -> 주택건설지역이 변동 -> 우선공급 받을 필요가 있는 기존 거주자, 임대사업자 등을 대상으로 주택을 공급하는 방법</li>
<li>일반인과 경쟁은 하지만, 특정 조건을 갖춘 사람에게 우선공급</li>
<li>특정 조건 = 주택건설지역 거주여부, 기간 등</li><br><br>

<h3>임대사업자 자격요건</h3>
<h5>사업주체가 주택 공급물량, 청약률, 임대수요등의 지역 여건을 고려, 필요하다고 인정 
<br>--> 아래 항목 중 하나에 해당되는 임대사업자 또는 공공주택 사업자는 사업자가 공급하는 민영 주택의 전부 또는 일부 우선 분양</h5><br>
    <ul>
        <li>[부동산투자회사법]에 따른 부동산투자회사(임대사업을 하려는 경우 포함)</li><br>
        <li>[자본시장과 금융투자업에 관한 법률]에 따른 집합투자기구(임대사업을 하려는 경우 포함)</li><br>
        <li>입주자모집 승인 당시 [민간임대주택에 관한 특별법]에 따른 민간임대주택 및 [공공주택 특별법]에 따른 공공임대주택은 20호 이상, 공동주택은 20세대 이상 임대하는 자</li><br>
        <li>소속 근로자에게 임대하려는 고용자(법인에 한함, 임대사업을 하려는 경우 포함)</li><br>
        <li>주택을 우선공급 받은 자 [공공주택 특별법]에 따른 공공주택 사업자는 입주금의 잔금 납부 시 까지 [민간임대주택에 관한 특별법] 제 5조에 따라 임대사업자로 등록하고 그 등록증 사본을 시장, 군수, 구청장 및 사업주체에게 제출하여야 함</li><br>
        <li>사업주체는 주택을 우선공급 받은 자가 위 사항에 따라 등록증 사본을 제출하지 아니하는 경우에는 공급계약을 취소하고 그 결과를 시장, 군수, 구청장에게 제출하여야 함</li>
    </ul>

{% endblock %}
