{% extends "base.jinja2" %}

{% block content %}
<h3>민간분양 노부모부양 특별공급 자격요건<font size="3em">(전체 물량중 3%)</font></h3>
<br>
<ol type="1">
    <li>입주자모집공고일 기준 65세 이상의 직계존속을 3년 이상 계속 부양하고 있을 것</li>
    <li>일반공급 1순위 요건에 해당할 것</li>
    <li>세대주, 피부양자의 배우자까지도 무주택자이어야 할 것<font size="2em">(피부양자의 배우자가 주택을 소유하고 있었던 기간은 무주택기간에서 제외)<font></li>
</ol>
<br><br>
<h3>노부모부양 특별공급 당첨자 선정 요건</h3>
<h5>일반공급 당첨자 결정방법을 준용하되, 공급 1순위에서 경쟁이 있다면 다음에 따라 공급된다</h5>
<li>일반공급가점제로 가점이 높은 자 순으로 당첨자를 선정함</li>
<li>가점이 같은 경우 추첨으로 당첨자를 선정함</li>
<br><br>
<h3>노부모부양 특별공급 가점표</h3>
<br><br>
<image src="https://raw.githubusercontent.com/NeewLife/heroku-chatbot/main/image/%EB%85%B8%EB%B6%80%EB%AA%A8%20%ED%8A%B9%EB%B3%84%EA%B3%B5%EA%B8%89%20%EB%B0%B0%EC%A0%90%ED%91%9C.png",width="530", height="504"></image>
<br><br><br><br><br><br>

{% endblock %}
