{% extends "base.jinja2" %}

{% block content %}
<h3>우선공급</h3>
<li>행정구역의 통합 -> 주택건설지역이 변동 -> 우선공급 받을 필요가 있는 기존 거주자, 임대사업자 등을 대상으로 주택을 공급하는 방법</li>
<li>일반인과 경쟁은 하지만, 특정 조건을 갖춘 사람에게 우선공급</li>
<li>특정 조건 = 주택건설지역 거주여부, 기간 등</li><br><br>

<h3>대규모 택지개발지구
    <font size="2em">(수도권의 택지개발사업 시행지역 및 경제자유구역 개발사업 시행 지역으로서 면적이 66만m제곱이상인 지역)</font> 
<h3>또는 행정중심 복합도시 예정지역에 건설 공급되는 시,도지사가 정하는 기간
    <font size="2em">(해당 주택 건설지역이 수도권의 투기과열지구인 경우 2년 이상의 범위에서 정하는 기간)</font> 
<h3>이상 거주하고 있는 사람에게 다음 구분에 따라 우선분양</h3></h3></h3>
<li>주택건설지역이 특별시,광역시</li> 
  <ul type="circle">
    <li>해당 주택건설지역 거주자에게 50%</li></ul>
<li>주택건설지역이 행정중심복합도시 예정지역</li>
  <ul type="circle">
    <li>해당 주택건설지역 거주자에게 행정중심복합도시건설청장이 정하여 고시하는 비율</li></ul>
<li>주택건설지역이 경기도</li>
  <ul type="circle">
    <li>해당 주택건설지역 거주자에게 30%, 경기도 거주자에게 20%(해당 주택건설지역의 주택공급신청자가 공급량에 미달 일 경우 경기도 거주자 공급물량에 포함)</li></ul>
<li>수도권 외의 경제자유구역 개발사업 시행 지역중 면적이 66만m제곱 이상인 지역에서 건설,공급되는 주택수의 30%의 범위 내의 주택</li> 
  <ul type="circle">  
    <li>입주자 모집 공고일 현재 해당 주택건설지역에 광역시장,시장 또는 군수가 정하는 기간 이상 거주하는 사람에게 우선분양</li></ul>
<li>사전 청약 신청자가 해당 주택건설지역에서 거주한 기간은 입주자 모집공고일을 기준으로 산정,<br>&nbsp;&nbsp;&nbsp;
사전 청약 신청자는 당첨자 모집공고일에 해당 주택건설지역에 거주하고 있어야 함.</li><br>
<li>대규모 택지 개발지구가 둘 이상의 특별시, 광역시 또는 시,군의 행정구역에 걸치는 경우 국토교통부장관이 정하는 바에 따름</li>
</h1>

{% endblock %}
