<ul class="nav">
  <tbody>
    <li class="nav-item">
        <a class="nav-link active" href="/public_normal">(공공)일반공급</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/public_special_married">(공공)신혼부부특별공급</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/public_special_first">(공공)생애최초특별공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/public_special_multiple">(공공)다자녀가구특별공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/public_special_parents">(공공)노부모부양특별공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/public_special_institution">(공공)기관추천특별공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/public_priority_job">(공공)직장주택조합우선공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/public_priority_complex">(공공)주상복합건축물의 부지소유자 우선공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/public_priority_large">(공공)대규모택지우선공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/private_normal">(민간)일반공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/private_special_married">(민간)신혼부부특별공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/private_special_first">(민간)생애최초특별공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/private_special_multiple">(민간)다자녀가구특별공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/private_special_parents">(민간)노부모부양특별공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/private_special_institution">(민간)기관추천특별공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/private_priority_large">(민간)대규모택지우선공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/private_priority_rental">(민간)임대사업자우선공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/private_priority_complex">(민간)주상복합건축물의 부지소유자우선공급</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="/private_priority_integration">(민간)통합건설지역거주자우선공급</a>
    </li>
  </tbody>
</ul>

