@charset "utf-8";

/* skip */
#skipnav {overflow:hidden; position:absolute; width:100%; z-index:1000;}
#skipnav a {display:block; overflow:hidden; height:1px; width:1px; margin:0 -1px -1px 0; font-size:0; line-height:0; text-align:center;}
#skipnav a:focus, #skipnav a:hover, #skipnav a:active {width:auto; height:20px; margin:0; padding:8px 0 5px; background:#20262c; font-size:12px; font-weight:700; line-height:1; color:#fff;}

.skip_info {display:block; position:absolute; overflow:hidden; width:1px; height:1px; font-size:0; line-height:0; text-indent:100%;}

#adm_wrap {padding-bottom:40px; min-height:100%; min-width:1200px; position:relative; box-sizing:border-box;}
.innerwrap {max-width:1200px; margin:0 auto;}


header * {box-sizing:border-box;}
header {position:relative; z-index:1;}
header .head {overflow:hidden; border-bottom:3px solid rgba(67,75,83,1); padding:10px 15px; background:#fff;}
header .head h1 {color:#111; font-size:17px; font-weight:500; letter-spacing:0; float:left;}
header .head h1 i {color:#e3e3e3; font-size:12px; font-weight:400;}
header .head .top_menu {float:right;}
header .head .top_menu > div {display:inline-block; font-size:13px;}
header .head .top_menu > div i {font-size:12px; color:#fff;}
header .head .top_menu > div button {background:#434b53; border:0; border-radius:3px; width:28px; height:28px; padding:0;}
header .head .top_menu > div.login_user {margin-right:20px;}
header .head .top_menu > div.login_user strong, header .head .top_menu > div.login_user strong i {color:#333;}
header .head .top_menu > div.login_user strong i {font-size:16px; vertical-align:bottom;}



footer {background:#fff; box-shadow:0 0 20px rgba(80,80,80,0.1); height:40px; line-height:40px; font-size:12px; color:#999; text-align:center; letter-spacing:0; position:absolute; bottom:0; left:0; width:100%;}

/* 로그인 ------------------------------- */
#login_wrap * {font-family: 'Noto Sans KR', sans-serif; font-weight:400; letter-spacing:0;}
#login_wrap {background:#e8ebf0; width:100%; height:100%; min-width:700px; min-height:400px; position:absolute; top:0;}

#login_box {position:absolute; top:50%; left:50%; margin:-175px 0 0 -340px; width:680px; height:350px; background:#fff; box-shadow:0 0 20px rgba(80,80,80,0.1); border-radius:20px; text-align:center;}
#login_box h2 {font-size:24px; font-weight:500; color:#222; line-height:1.2; position:relative; margin-top:0;}
#login_box h2:before {display:block; background-position:0 -75px; width:110px; height:86px; margin:0 auto; margin-bottom:10px;}
#login_box h2 img {max-height:34px;}
#login_box h2 i {display:block; font-size:10px; color:#777; font-weight:300;}
#login_box h2 + p {font-size:48px; color:#333; font-family:Arial, Helvetica, sans-serif, Dotum; font-weight:bold;}
#login_box h2 + p i {color:#00adb4; font-weight:bold;}
#login_box h2 + p > span {display:block; font-size:24px; color:#222; font-weight:bold;}
#login_box .login_con {overflow:hidden; margin:50px 40px; position:relative;}
#login_box .login_con:after {content:''; background:#ddd; width:1px; height:100%; position:absolute; top:0; left:240px;}
#login_box .login_tit {float:left; width:35%; padding-top:50px;}
#login_box .login_input {margin:10px 0 0 0; float:right; width:52%;}
#login_box .login_input ul li {background:#fff;}
#login_box .login_input ul li + li {margin-top:7px;}
#login_box .login_input ul li input {border:1px solid #d5d5d5; border-radius:50px; margin:0; font-size:14px; padding:0px 20px; width:100%; height:47px;}
#login_box .login_btn {background:#00adb4; border:0; border-bottom:solid 3px #00959a; border-radius:50px; width:100%; height:52px; line-height:52px; font-size:16px; color:#fff; text-align:center; margin:20px 0 15px;}
#login_box .login_input ul li input::-webkit-input-placeholder {color:#999; font-size:14px;}/* Webkit */
#login_box .login_input ul li input:-moz-placeholder {color:#999; font-size:14px;}/* moz */
#login_box .login_input ul li input:-ms-input-placeholder {color:#999; font-size:14px;}/* IE10+ */
#login_wrap .copyright {color:#888; position:absolute; bottom:30px; width:100%; text-align:center;}