{% extends "base.jinja2" %}

{% block content %}
<h3>일반공급</h3>
<h5>우선공급 대상자, 특별공급 대상자에 속하지 않는 자들을 대상으로 주택을 분양하는 방법</h5><br><br>

<h3>공공분양 일반공급 신청자격</h3>
<li>무주택자 - 입주자 모집공고일 현재 해당 주택건설지역에 거주하는 성년자인 무주택 세대 구성원</li>
<ul type="square">
    <li>성년자
        <ul type="circle">
            <li>자녀를 양육하는 세대주인 미성년자</li>
            <li>직계존속의 사망, 실종선고, 행방불명 등으로 형제자매를 부양하는 세대주인 미성년자</li>
        </ul>
    </li>
</ul>
<li>무주택자세대구성원 - 세대원 전원이 주택을 소유하고 있지 않은 세대의 구성원</li>
<li>세대 - 아래 항목으로 구성된 집단(주택공급신청자가 세대별 주민등록표에 등재되어 있지 않은 경우 제외)</li>
<ul type='circle'>
    <li>주택공급신청자</li>
    <li>신청자의 배우자</li>
    <li>신청자의 직계존속(배우자의 직계존속 포함) 신청자 또는 배우자와 세대별 주민등록표에 함께 등재된 자</li>
    <li>신청자의 직계비속(직계비속의 배우자 포함) 신청자 또는 배우자와 세대별 주민등록표에 함께 등재된 자</li>
    <li>신청자의 배우자의 직계비속으로 신청자와 세대별 주민등록표에 함께 등재되어 있는 자</li>
</ul>
<li>공공분양의 일반공급을 신청할 수 있는 무주택세대원</li>
<li>세대주, 동일한 주민등록등본에 등재되어 있는 배우자, 직계 존,비속인 세대원 모두 무주택이어야 함</li>
<br><br>
<h3>주택건설지역의 기준</h3>
<li>서울특별시, 인천광역시 및 경기도 지역(이하 “수도권“이라 명칭함)</li>
<li>대전광역시, 세종특별자치시 및 충청남도</li>
<li>충청북도</li>
<li>광주광역시 및 전라남도</li>
<li>전라북도</li>
<li>대구광역시 및 경상북도</li>
<li>부산광역시, 울산광역시 및 경상남도</li>
<li>강원도</li><br>
<ul>- 분양하기 위해서는 자신이 분양하고자 하는 곳에 거주하고 있을 경우에만 신청이 가능함</ul>
<br><br>
<h2>공공분양 순위요건</h2>
<image src="https://raw.githubusercontent.com/NeewLife/heroku-chatbot/main/image/%EA%B3%B5%EA%B3%B5%EB%B6%84%EC%96%911.png",,width="1113", height="522"></image>
<br><br><br><br>
<h2>순위요건이 동일한 순위 경쟁<font size="5px">(순차안에서 저축총액, 납입횟수 동일할 시 추첨선정)</font></h2>
<image src="https://raw.githubusercontent.com/NeewLife/heroku-chatbot/main/image/%EA%B3%B5%EA%B3%B5%EB%B6%84%EC%96%912.png",,width="1114", height="578"></image>
<br><br><br><br><br><br><br><br>

{% endblock %}
