{% extends "base.jinja2" %}

{% block content %}
<h3>공공분양 생애최초 특별공급 자격요건</h3>
<li>전체 물량중 25% 이내</li>
<ol type="1">
    <li>일반공급 1순위에 해당하는 무주택자</li>
    <li>저축액이 선납금 포함해서 600만원 이상인 자</li>
    <li>입주자모집공고일 기준 혼인중이거나 자녀가 있는 사람</li>
    <li>공고일 기준 사업, 근로소득으로 5년 이상 소득세를 납부한 사람</li>
    <li>월평균소득 130% 이하 + 부동산가액 2억 1,550만원 이하, 차량가액 3,557만원 이하</li>
</ol>
<br><br>
<h3>공공분양 생애최초 특별공급 공급유형</h3>
<br>
<ul>
    <li>70% 우선공급</li>
        <ul type="circle">자격요건 모두 만족하면서, 전년도 도시근로자 가구당 월평균 소득 최대 100%이하</ul>
    <li>30% 잔여공급</li>
        <ul type="circle">자격요건 모두 만족하면서, 전년도 도시근로자 가구당 월평균 소득 최대 130%이하</ul>

</ul>
<br><br>
<h3>공공 생애최초 소득, 자산기준표<font size="3em">(2021년 통계)</font></h3>
<br><br>
<image src="https://raw.githubusercontent.com/NeewLife/heroku-chatbot/main/image/%EA%B3%B5%EA%B3%B5%EC%83%9D%EC%95%A0%EC%B5%9C%EC%B4%88%20%EC%86%8C%EB%93%9D%EA%B8%B0%EC%A4%80.png",width="1204", height="170"></image>
<h4>(기준 : 원)</h4>
<br><br><br><br><br><br>
{% endblock %}
