{% extends "base.jinja2" %}

{% block content %}
<h3>우선공급</h3>
<li>행정구역의 통합 -> 주택건설지역이 변동 -> 우선공급 받을 필요가 있는 기존 거주자, 임대사업자 등을 대상으로 주택을 공급하는 방법</li>
<li>일반인과 경쟁은 하지만, 특정 조건을 갖춘 사람에게 우선공급</li>
<li>특정 조건 = 주택건설지역 거주여부, 기간 등</li><br><br>

<h4>시군이 통합할 경우 해당 주택건설지역 거주자 자격요건</h4>
<ul>
    <li>시군의 행정구역의 통합 --> 주택건설 지역이 변동 --> 통합일로부터 2년 이내에 분양되는 민영주택 우선 분양</li>
    <li>입주자모집공고일 현재 별도의 주택건설지역으로 지정된 주택건설지역에 일정기간 이상 거주하고 있는 사람은 주택을 우선 공급</li>
</ul>

{% endblock %}
