<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout/basic">
<th:block layout:fragment="title">
  <title>리스트 페이지</title>
</th:block>

<th:block layout:fragment="content">
  <div class="page_tits">
    <h3>자유 게시판</h3>
    <p class="path"><strong>현재 위치 :</strong> <span>자유 게시판</span>
  </div>

  <div class="content">
    <section>
      <!--/* 검색 */-->
      <div class="search_box">
        <form id="searchForm" onsubmit="return false;" autocomplete="off">
          <div class="sch_group fl">
            <select title="검색 유형 선택" name=searchType>
              <option value="title">제목</option>
              <option value="content">내용</option>
              <option value="writerNo">작성자</option>
            </select>
            <input type="text" name="keyword" placeholder="키워드를 입력해 주세요." title="키워드 입력" />
            <button type="button" onclick="movePage(1)" class="bt_search"><i class="fas fa-search"></i><span class="skip_info">검색</span></button>
          </div>
        </form>
      </div>

      <!--/* 리스트 */-->
      <table class="tb tb_col">
        <colgroup>
 		<col style="width:7.5%;" /><col style="width:auto;" /><col style="width:10%;" /><col style="width:15%;" />
        </colgroup>
        <thead>
          <tr>
            <th scope="col">번호</th>
            <th scope="col">제목</th>
            <th scope="col">작성자</th>
            <th scope="col">등록일</th>
          </tr>
        </thead>
        <!--/* 리스트 데이터 렌더링 영역 */-->
        <tbody id="list">
        
        </tbody>
      </table>

      <!--/* 페이지네이션 렌더링 영역 */-->
      <div class="paging">
        
      </div>

      <!--/* 버튼 */-->
      <p class="btn_set tr">
        <a th:href="@{/post/write.do}" class="btns btn_st3 btn_mid">글쓰기</a>
      </p>
    </section>
  </div> <!--/* .content */-->
</th:block>

<th:block layout:fragment="script">
  <script th:inline="javascript">
    /*<![CDATA[*/

    window.onload = () => {


      	findAllPost();
    }
    

    // 게시글 리스트 조회
    function findAllPost() {

      const list = [[ ${response.list} ]];
//      alert(list);
      if ( !list.length ) {
        document.getElementById('list').innerHTML = '<td colspan="6"><div className="no_data_msg">검색된 결과가 없습니다.</div></td>';
        drawPage();
      }

      const pagination = [[ ${response.pagination} ]];
      const params = [[ ${params} ]];
      let num = pagination.totalRecordCount - ((params.page - 1) * params.recordSize);

      drawList(list, num);
      drawPage(pagination, params);
    }


    // 리스트 HTML draw
    function drawList(list, num) {

      let html = '';
	  //alert(list);
      list.forEach(row => {
        html += `
            <tr>
                <td>${row.notice === 0 ? num-- : '공지'}</td>
                <td class="tl"><a href="/post/view.do?id=${row.id}">${row.title}</a></td>
                <td>${row.nickname}</td>
                <td>${dayjs(row.createdDate).format('MM-DD HH:mm')}</td>

            </tr>
        `;
      })

      document.getElementById('list').innerHTML = html;
    }


    // 페이지 HTML draw
    function drawPage(pagination, params) {

      if ( !pagination || !params ) {
        document.querySelector('.paging').innerHTML = '';
        throw new Error('Missing required parameters...');
      }

      let html = '';
		
      // 첫 페이지, 이전 페이지
      if (pagination.existPrevPage) {
        html += `
            <a href="javascript:void(0);" onclick="movePage(1)" class="page_bt first">첫 페이지</a>
            <a href="javascript:void(0);" onclick="movePage(${pagination.startPage - 1})" class="page_bt prev">이전 페이지</a>
        `;
      }

      // 페이지 번호
      html += '<p>';
      for (let i = pagination.startPage; i <= pagination.endPage; i++) {
        html += (i !== params.page)
                ? `<a href="javascript:void(0);" onclick="movePage(${i});">${i}</a>`
                : `<span class="on">${i}</span>`
      }
      html += '</p>';

      // 다음 페이지, 마지막 페이지
      if (pagination.existNextPage) {
        html += `
            <a href="javascript:void(0);" onclick="movePage(${pagination.endPage + 1});" class="page_bt next">다음 페이지</a>
            <a href="javascript:void(0);" onclick="movePage(${pagination.totalPageCount});" class="page_bt last">마지막 페이지</a>
        `;
      }

      document.querySelector('.paging').innerHTML = html;
    }


    // 페이지 이동
    function movePage(page) {

        const form = document.getElementById('searchForm');
        const queryParams = {
            page: (page) ? page : 1,
            recordSize: 10,
            pageSize: 10,
            keyword: form.keyword.value,
            searchType: form.searchType.value,
        }

        location.href = location.pathname + '?' + new URLSearchParams(queryParams).toString();
    }
    



    /*]]>*/
  </script>
</th:block>
</html>