{% extends "base.jinja2" %}

{% block content %}
<h3>일반공급</h3>
<h5>우선공급 대상자, 특별공급 대상자에 속하지 않는 자들을 대상으로 주택을 분양하는 방법</h5><br><br>

<h3>민간분양 일반공급 신청자격</h3>
<li>입주자 모집공고일 해당 주택건설지역에 거주하는 성년자(세대주인 미성년자 포함)</li>
<li>분양아파트가 포함된 주택건설지역의 거주자</li>
<br><br>
<h3>민간분양 1순위 요건</h3><font size="3px">(85제곱미터 초과 공공건설임대주택의 경우 2주택이상 소유한 세대에 속한 사람은 제외)</font>
<br><br>
    <image src="https://raw.githubusercontent.com/NeewLife/heroku-chatbot/main/image/%EB%AF%BC%EA%B0%84%EB%B6%84%EC%96%911.png",width="800", height="420"></image>
<br><br>
<h3>민간분양 순위 요건 1순위 경쟁</h3>
    <li>같은 1순위에서 경쟁이 붙을 경우 가점제 및 추첨제에 따라 선정된다.</li>
    <li>가점제 후 나머지는 추첨</li>
<br><br>
    <image src="https://raw.githubusercontent.com/NeewLife/heroku-chatbot/main/image/%EB%AF%BC%EA%B0%84%EB%B6%84%EC%96%912.png",width="495", height="471"></image>
    <br><br>
    <image src="https://raw.githubusercontent.com/NeewLife/heroku-chatbot/main/image/%EB%AF%BC%EA%B0%84%EB%B6%84%EC%96%913.png",width="613", height="251"></image>
    <br><br><br><br>
{% endblock %}
