{% extends "base.jinja2" %}

{% block content %}
<h3>우선공급</h3>
<li>행정구역의 통합 -> 주택건설지역이 변동 -> 우선공급 받을 필요가 있는 기존 거주자, 임대사업자 등을 대상으로 주택을 공급하는 방법</li>
<li>일반인과 경쟁은 하지만, 특정 조건을 갖춘 사람에게 우선공급</li>
<li>특정 조건 = 주택건설지역 거주여부, 기간 등</li>
<br><br>

<h3>직장주택조합의 조합원 우선공급</h3>
<li>사업주체는 입주자 모집공고일 현재 국민주택을 공급받기 위해 설립신고,된 직장주택조합(조합원이 20명 이상인 직장 주택조합으로 한정)에게 그 건설 량의 40%의 범위 안에서 우선공급(단체공급)</li>
<li>순위별로 단체공급을 받음으로 주택조합의 남은 조합원 수가 20명에 미달하는 경우 단체공급 신청에 있어 제한하지 않음</li>
<li>단체공급을 받으려는 조합원은 주택청약종합저축에 가입하여 매월 약정 납입일에 월납입금을 6회 이상 납입한 자여야 함</li>
<li>직장주택조합은 각 호의 서류를 사업주체에게 제출해야 함</li>
<ul type='circle'>
    <li>주택조합설립신고필증사본</li>
    <li>조합원의 주택청약 종합저축통장사본, 이경우 직장주택조합의 조합장은 원본을 확인해야 함</li>
</ul>
<li>사업주체는 단체공급에 경쟁이 있으면 다음 각호의 순위에 따라 공급해야 함. 같은 순위에서 경쟁이 있는 때에는 신청 조합원의 평균 저축총액이 많은 조합에 우선공급</li>
<ul>제 1순위 – 해당 주택건설지역에 4킬로미터 이내에 조합원의 직장이 있는 조합</ul>
<ul>제 2순위 – 해당 주택건설지역에 8킬로미터 이내에 조합원의 직장이 있는 조합</ul>
<ul>제 3순위 – 해당 주택건설지역에 조합원의 직장이 있는 조합</ul>
<br><br><br><br>


{% endblock %}
