{% extends "base.jinja2" %}

{% block content %}
<font line-height=200%><h3>우선공급</h3>
<li>행정구역의 통합 -> 주택건설지역이 변동 -> 우선공급 받을 필요가 있는 기존 거주자, 임대사업자 등을 대상으로 주택을 공급하는 방법</li>
<li>일반인과 경쟁은 하지만, 특정 조건을 갖춘 사람에게 우선공급</li>
<li>특정 조건 = 주택건설지역 거주여부, 기간 등</li><br><br>

<h2>주상복합건축물의 건설부지 소유자 자격요건<h2>
<h5>건축주가 다음에 해당하는 호수 이상으로 주택 외의 시설과 주택을 동일 건축물로 하여 건설<br>--> 해당부지의 소유자는 1세대 1주택을 기준으로 그 주택을 우선분양<h5>

<li>단독주택 - 30호<font size="2.5em">다만, 다음 중 어느 하나에 해당하는 주택은 50호</font>
    <ul type="square"><br>
        <li>공공사업에 따라 조성된 용지를 개별 필지로 구분하지 않고 일단의 토지로 공급받아 해당 토지에 건설하는 단독주택</li>
        <li>한옥</li><br>
    </ul>
</li>
<li>공동주택 - 30세대(리모델링의 경우에는 증가하는 세대수가 30세대)<font size="2em">다만, 다음 중 어느 하나에 해당하는 주택은 50호</font><br>
    <ul type="circle">
    <li>다음 요건을 모두 갖춘 단지형 연립주택, 단지형 다세대 주택</li><br>
        <ul type="square">
            <li>세대별 주거전용 면적이 30제곱미터 이상</li>
            <li>해당 주택단지 진입 도로의 폭이 6m 이상일 것</li>
            <font size="2em">(해당 주택단지의 진입도로가 두개 이상인 경우 다음의 요건을 모두 갖추면 진입도로의 폭 4m이상 6m미만으로 가능)</font>
            <ul type="circle"><br>
                <li>두개의 진입도로 폭의 합계가 10m 이상일 것</li>
                <li>폭 4m이상 6m 미만인 진입도로는 도로와 통행거리가 200m 이내 일 것</li><br>
            </ul>
            <li>[도시 및 주거환경정비법] 에 따른 정비구역에서 주거환경개선사업(사업시행자가 정비구역에서 정비기반기설 및 공동이용시설을 새로 설치하거나 확대하고 토지등소유자가 스스로 주택을 보전 정비하거나 개량하는 방법으로 시행하는 경우만 해당)을 시행하기 위한 정비구역에서 건설하는 공동주택(다만, 정비기반시설의 설치계획대로 정비 기반시설설치가 이루어지지 않은 지역으로서 특별자치시장, 특별자치도지사, 시장, 군수 또는 구청장이 지정,고시하는 지역에서 건설하는 공동주택 제외)</li>
        </ul>
    </ul>
</li>
</font>
{% endblock %}
