<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body th:fragment="main-body">
    <div id="adm_wrap">
        <header>
            <div class="head">
                <h1><a href="/"><img id="mainLogo" src="https://raw.githubusercontent.com/JungBear/public_transport_webproject/main/Board/src/main/resources/static/images/%EB%A9%94%EC%9D%B8%EB%A1%9C%EA%B3%A0.png"></a></h1>
                <div class="top_menu">
                    <div th:if="${userInfo==null}" class="login_user"><a href="/user/signin.do"><strong>로그인</strong></a></div>
                    <div th:unless="${userInfo==null}"class="login_user"><strong><i class="far fa-user-circle"></i> [[ ${userInfo.nickname} ]]</strong>님 반갑습니다.</div>
                    <a>|</a>
                   	<div th:if="${userInfo==null}" class="login_user"><a href="/user/signup.do"><strong>회원가입</strong></a></div>
                    <div th:unless="${userInfo==null}" class="logout"><button type="button" onclick="window.open('/logout.do')"><span class="skip_info">로그아웃</span><i class="fas fa-sign-out-alt"></i></button></div>
                     
                </div>
            </div>
        </header>
        
        <th:block layout:fragment="modal"></th:block>

        <div id="container">
            <!--/* 좌측 영역 */-->
            <div class="lcontent">
                <!--/* 메뉴 */-->
				<nav class="navbar navbar-expand-lg bg-light">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					  <li class="navbar-brand">
					    <a class="nav-link" aria-current="page" href="/">Home</a>
					  </li>
					  <li class="navbar-brand">
					    <a class="nav-link" href="/post/infolist.do">정보게시판</a>
					  </li>
					  <li class="navbar-brand">
					    <a class="nav-link" href="/post/freelist.do">자유게시판</a>
					  </li>
					  <li class="navbar-brand">
					    <a class="nav-link" href="/user/UserMyPageChk.do">마이페이지</a>
					  </li>

					</ul>
				</nav>
            </div>

            <!--/* 우측 영역 */-->
            <div class="rcontent">

                <!--/* 페이지별 컨텐츠 */-->
                <th:block layout:fragment="content"></th:block>

            </div>
        </div> <!--/* // #container */-->
        <footer>우리는 휴먼이다. 프로젝트 무사히 끝나면 좋겠다.</footer>
    </div>

    <script th:src="@{/js/function.js}"></script>
    <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <script th:src="@{/js/moment.js}"></script>
    <script src="https://cdn.jsdelivr.net/timepicker.js/latest/timepicker.min.js"></script>
    <script src="https://kit.fontawesome.com/79613ae794.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    

    <th:block layout:fragment="script"></th:block>
    <script th:inline="javascript">
    /*<![CDATA[*/
		
    	
    	
    /*]]>*/
  	</script>
</body>
</html>