{% extends "base.jinja2" %}

{% block content %}
<h3>공공분양 다자녀가구 특별공급 자격요건<font size="3em">(전체물량중 10% 이내)</font></h3>
<br>
<li>입주자모집공고일 기준 미성년자인 3명 이상의 자녀(태아포함)를 둔 무주택자</li>
<li>월평균소득 120% 이하 + 부동산가액 2억 1,550만원 이하, 차량가액 3,557만원 이하</li>
<ul type="circle">
    <li>태아는  입주자로 선정된 경우 출산 등과 관련된 자료를 제출</li>
    <li>입양은 입주시까지 입양이 유지되어야 함</li>
</ul>
<br><br>
<h3>다자녀가구 특별공급 당첨자 선정 요건</h3>
<ol type="1">
    <li>경쟁이 있을 경우 다자녀배점표의 배점이 높은 순으로 선정(100점 만점)</li>
    <li>동점인 경우</li>
    <ol type="i">
        <li>미성년 자녀수</li>
        <li>신청자 나이(연월일 계산) 순으로 선정</li>
</ol>
<br><br>
<h3>다자녀가구 특별공급 다자녀배점표</h3>
<br><br>
<image src="https://raw.githubusercontent.com/NeewLife/heroku-chatbot/main/image/%EB%8B%A4%EC%9E%90%EB%85%80%EA%B0%80%EA%B5%AC%20%EB%B0%B0%EC%A0%90%ED%91%9C.png",width="1138", height="619"></image>
<br><br><br><br><br><br>

{% endblock %}
