{% extends "base.jinja2" %}

{% block content %}
<h3>공공분양 신혼부부 특별공급 자격요건<font size="3em">(85제곱미터 이하만 해당)</font></h3>
<li>전체물량중 30% 이내</li>
<ol type="1">
    <li>입주자모집공고일 기준 혼인 기간 7년 이내 신혼 및 예비 신혼부부, 한부모가족</li>
        <ul>- 재혼의 경우 이혼 전의 신혼기간을 합산하여 7년 이내</ul>
    <li>청약통장 가입 기간 6개월 이상, 6회 이상 납입</li>
    <li>‘전년도 도시근로자 가구당 월평균 소득’ 의 140%이하(맞벌이는 160%이하)</li>
    <li>140%(맞벌이 160%)를 초과하는 경우 세대원 소유 부동산 가액의 합계가<br>「국민건강보험법 시행령」 별표 4 제 3호에 따른 재산등급 중 29등급에 해당하는
        재산금액의 하한과 상한을 산술평균한 금액 이하일 것 (2022.7.1 기준 3억 3,100만원 이하)</li>
    <li>혼인신고일부터 입주자모집공고일까지 계속하여 무주택자일 것</li>
    <li>1세대 1주택만 청약 가능</li>
</ol>
<br><br>
<h3>신혼부부 특별공급 당첨자 선정 1순위 요건</h3>
<ol type="1">
    <li>7년 이내 혼인기간 중 자녀를 출산(임신, 입양 포함)하여 자녀가 있는 경우</li>
    <li>혼인외의 출생자가 있는 경우</li>
</ol>
<br><br>
<h3>공공분양의 경우 '공공주택특별법이 적용될 시' 소득, 자산기준</h3>
<br>
<li>공통요건 - 부동산 가액 2억 1,550만원 이하 + 자동차 가액 3,557만원 이하(2021년 기준)
<ul>
    <li>70% 우선공급(소득기준)</li>
        <ul>- 전년도 도시근로자 가구당 월평균 소득 최대 100%이하(맞벌이 120%이하)</ul>
        <ul>- 동일 순위내 경쟁시 가점제(총 13점) 기준에 따라 다득점순으로 선정, 동점시 추첨</ul>
    <li>30% 잔여공급</li>
        <ul>- 전년도 도시근로자 가구당 월평균 소득 최대 130%이하(맞벌이 140%이하)</ul>
        <ul>- 동일 순위내 경쟁시 추첨</ul>
</ul>
<br><br>
<h3>공공분양 - '공공주택특별법이 적용될 시' 소득, 자산기준(2021년 기준)</h3>
<image src="https://raw.githubusercontent.com/NeewLife/heroku-chatbot/main/image/%EC%8B%A0%ED%98%BC%EB%B6%80%EB%B6%80%20%EA%B3%B5%EA%B3%B5%EC%86%8C%EB%93%9D%EA%B8%B0%EC%A4%80.png",width="1194", height="489"></image>
<br><br>
<h3>공공분양 - '공공주택특별법이 적용될 시' 소득, 자산기준 가점표(최대 13점)</h3>
<image src="https://raw.githubusercontent.com/NeewLife/heroku-chatbot/main/image/%EC%8B%A0%ED%98%BC%EB%B6%80%EB%B6%80%20%EA%B3%B5%EA%B3%B5%EC%86%8C%EB%93%9D%EA%B8%B0%EC%A4%80%20%EA%B0%80%EC%A0%90%ED%91%9C.png",width="1261", height="541"></image>
<br><br><br><br><br><br>

{% endblock %}
