{% extends "base.jinja2" %}

{% block content %}
<h3>공공 기관추천 특별공급</h3>
<li>국가유공자(5%)</li>
<li>장애인 등 해당기관의 추천을 받은 자(10%)</li>
<br><br>
<a href="https://blog.naver.com/kmjlmy5964/222133970045">    
    <image src="https://raw.githubusercontent.com/NeewLife/heroku-chatbot/main/image/%EA%B8%B0%EA%B4%80%EC%B6%94%EC%B2%9C.png",width="797", height="934"></image>
</a>

{% endblock %}
